*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 450px;
    background: linear-gradient(120deg, violet, blue);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.search button img{
    width: 16px;
    margin-top: 6px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;
}
.weather h2{
    font-size: 35px;
    font-weight: 400;
    margin-top: 10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 80px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 30px;
    margin-right: 10px;
}
.humidity, .windy{
    font-size: 20px;
}